h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
img {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
  padding-block: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
